body {
    width: 485px;
    margin: 0px auto;
    background-color: black;
}

main {
    background-color: white;
    padding-bottom: 10px;
}


h1 {
    font-size: 3em;
    color: #007d7b;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
    margin: 0%;
}

header {
    background-color: white;
}

.navbar ul {
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: gray;
}

.navbar li {
    float: left;
    width: 33.33%;
}







img {
    display: block;
    margin: 20px auto;
}



.container {
    position: relative;
    width: 100%;
    height: auto;
}

.container img {
    width: 90%;
}

.container .text-chile {
    position: absolute;
    color: white;
    left: 42%;
}







form {
    width: 350px;
	margin: 16px auto;
	padding: 16px;
	color: #363432;
	border-radius: 4px;
}

.form h2 {
    color: white;
}

.form p {
    color: white;
    text-align: center;
}

label {
    color: white;
}

form label {
    display: block;
    margin-top: 10px;
}

input {
    display: block;
}

footer p {
    text-align: center;
    color: white;
}

input {
    width: 350px;
    height: 30px;
}

#my-submit {
    font-weight: bold;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    background-color: #007d7b;
    color: white;
}

#my-submit:hover {
    background-color: rgb(0, 102, 102);
}

p {
    font-size: 1.25em;
}



@media screen and (min-width: 880px) {
    body {
        width: 880px;
    }

    h1 {
        text-align: left;
    }

    .container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

    .container img {
        object-fit: cover;
        display: flex;
        width: 400px;
        height: 100%;
    }

    .container {
    position: relative;
    width: 100%;
    height: auto;
}

.container img {
    width: 90%;
}

.container .text-chile {
    position: absolute;
    color: white;
    left: 42%;
}



    form {
        width: 600px;
        margin: 16px auto;
        padding: 16px;
        color: #363432;
        border-radius: 4px;
    }

    input {
        width: 600px;
        height: 30px;
    }

    #my-submit {
        font-weight: bold;
        border-radius: 15px;
        width: 350px;
        height: 40px;
        margin: 10px auto;
        background-color: #007d7b;
        color: white;
    }
    
    #my-submit:hover {
        background-color: rgb(0, 102, 102);
    }

}

@media screen and (min-width: 1300px) {
    body {
        width: 1300px
    }

    .container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

    .container img {
        object-fit: cover;
        display: flex;
        width: 400px;
        height: 100%;
    }




    form {
        width: 1000px;
        margin: 16px auto;
        padding: 16px;
        color: #363432;
        border-radius: 4px;
    }

    input {
        width: 1000px;
        height: 30px;
    }

    #my-submit {
        font-weight: bold;
        border-radius: 15px;
        width: 600px;
        height: 40px;
        margin: 10px auto;
        background-color: #007d7b;
        color: white;
    }
    
    #my-submit:hover {
        background-color: rgb(0, 102, 102);
    }

    .navbar ul {
        list-style-type: none;
        background-color: black;
        padding: 0px;
        margin: 0px;
        overflow: auto;
        text-align: right;
    }
}